body{
    height: 100vh;
    background: black url('imagens/wallpaper002.jpg') no-repeat fixed center center/cover;
}

    /*
    background shorthand

    color --> image --> repeat --> attachment --> position/ --> size --> origin --> clip
    */


main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 5px solid skyblue;
    border-radius: 15px;
}