@font-face {
    font-family: 'London' ;
    src: url('fontes/Olondon_.otf') format('opentype'), url('fontes/OldLondon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    /*
    tipos de format
    opentype(otf)
    truetype(ttf)
    embedded-opentype
    truetype-att
    svg
    */
}
body{
    font-family: London, Helvetica, sans-serif;
}

h1{
    font: italic normal 3em 'London', Times, serif ;

}