body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas absolutas
    cm, mm, in, px, pt, pc

    Medidas relativas
    em, ex, rem, vw, vh, % 
    16 px geralmente = 1em
    */
    font-size: 1em ;
    /*pesos das fontes: lighter, normal, bold, bolder*/
    /*pesos numericos: 100 a 900*/
}
h1{
    /* shorthand font
    oredem do shorthand
    font-style -> font-weight -> font-size -> font-family
    */
    font: italic bolder 3em 'Work Sans', sans-serif;
}

